node_modules/
.idea/
.nyc_output/
dist/
coverage
e2e/outputs/*
documents/**
!documents/.gitkeep
.env
.keys
test.ts
package-lock.json
sourceUtils/encrypted_file.hl7
receivedUtils/decrypted_file.hl7
receivedUtils/downloaded_encrypted_file.hl7
